body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    min-height: 5000px;
    min-width: 100vh;
    font-family: 'DotGothic16', sans-serif;
    overflow-x: hidden; 
} 
body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background:#43E5E9;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color:  #43E5E9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid  rgb(7, 85, 133);  /* creates padding around scroll thumb */
}
/* 1 */
.down{
    position: fixed;
    top: 560px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid rgb(14, 105, 162);
    border-radius: 50%;
    opacity: 50%;
    z-index: 4;
}
.down:hover{
    opacity: 100%;
}
.up{
    z-index: 4;
    position: fixed;
    top: 560px;
    left: 94vw;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid rgb(14, 105, 162);
    border-radius: 50%;
    opacity: 50%;
}
.up:hover{
    opacity: 100%;
}
/*  */
.section1{
    border: 5px solid #43E5E9;
    color: #43E5E9;
    width: 97.5%;
    min-height: 130pc;
    padding: 10px;
    margin: 0;
}
.icons1{
    position: absolute;
    width: 375px;
    height: 330px;
    background-color:#61707100 ;
    padding:15px ;
    animation: peraAnimacion 120s linear infinite;
    z-index: 3;

}
.icons11{
    position: absolute;
    width: 270px;
    height: 225px;
    background-color:#35949700 ;
    padding:5px ;
    animation: eraAnimacion 5s  linear infinite;
    z-index: 3;

}
@keyframes peraAnimacion {
    0%{
        transform: translate(0px, 0px);
    }

    25%{
        transform: translate(800px, 0px)
    }

    50%{
        transform: translate(800px, 1280px);
    }

    75%{
        transform: translate(0px, 1280px);
    }

    100%{
        transform: translate(0px, 0px); 
    }
    
}
@keyframes eraAnimacion {
    0%{
        transform: scale(1);
    } 
    50%{
        transform: scale(1.2); 
    }
    100%{
        transform: scale(1); 
    }
}
.uno{
    position: relative;
    top: 180px;
    animation: unoO 8s linear infinite;
    z-index: 1;
}
@keyframes unoO {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}  
.dos{
    position: relative;
    top: 200px;
    left: 140px;
    animation: dosS 10s linear infinite;
    z-index: 1;
}
@keyframes dosS {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(-360deg);
    }
}  
.tres{
    animation:tresS 17s linear infinite;
    z-index: 1;
}
@keyframes tresS {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}  
.ico{
    width: 75px;
    height: 75px;
}
a{
    color: white;
    text-decoration: none;
}
.section__nav{
    background-color: #43E5E9;
    width: 96%;
    padding: 25px;
}
.nav__name{
    font-size: 25px;
    font-weight: 600;
    color: rgb(7, 85, 133);
}
.separacion{
    position: absolute;
    left: 65%;
    width: 2px;
    background-color:  #1e3031;
    height: 70px;
    top: 10px;
}
.content{
    position: absolute;
    left: 66%;
    top: 35px;
}
.content > a {
    position: relative;
    color: rgb(7, 85, 133);
    font-size: 20px;
    top: -10px;
}
.content > .nav--div{
    display: none;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(30, 62, 99, 0.539);
    box-shadow: 5px 5px 10px rgb(7, 85, 133);
    position: absolute;
    width: 250px;
    height: 190px;
    top: 15px;
}
.content:hover >  .nav--div{
    display: block;
}
.content ,.nav__div, ul{
    padding: 0%;
    margin: 0;
    text-align: center;
}
li{
    list-style: none;
    background-color: rgb(7, 85, 133);
    margin-top: 5px;
    height: 25px;
    width: 90%;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 15px;
    text-align: center;
    padding-bottom: 15px;
    z-index: 3;

}
li:hover{
    background-color: #43E5E9;
    z-index: 3;
}
h2{
    text-shadow: 3px 5px 5px rgb(66, 129, 211);
    font-size: 100px;
    margin: 0;
} 
.section1__div{
    padding: 10px;
    margin: 10px;
    top: 20px;
    background: cover;
    display: inline-flex;
    font-size: 25px;
}
#active{
    width: 175px;
    height: 100px;
    background-color: rgba(26, 85, 137, 0.692);
    position: absolute;
    left: 80%;
    top: 250px;
    border:  5px solid rgb(7, 85, 133);
    font-size: 50px;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    z-index: 0;

    /* color: rgb(3, 196, 255); */
}
#active:hover{
    color: rgb(7, 85, 133);
    background-color: #43E5E9;
}
.seccion1__div--conent{
    border-radius: 10px;
    width: 750px;
    height: 600px;
    background-color: rgba(230, 238, 245, 0);
    margin: 0;
}
.div--content-p1{
    font-size: 50px;
    text-decoration: underline;
}
.div--content-p2{
  position: relative;
  text-shadow: 0px 0px 5px;
}
.div--content-div{
    position: relative;
    width: 180px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(134, 164, 207);
    font-size: 20px;
    box-shadow: 2px 5px 5px rgb(98, 152, 233) ;
    top: 150px;
    transition: 1s;
}
.div--content-div:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.3);
    cursor:grab;  
    font-size: 0px;
    
}
.d3{
    width: 400px;
    height: 400px;
    padding: 5px;
    border-radius: 30px;
    border:2px solid #43E5E9;
    position: absolute;
    top: 600px;
    left: 50%;
}
.comment{
    position: relative;
    top: 950px;
    left: -550px;
}
.div--content-imgs{
    width: 650px;
    height: 700px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    top: 1200px;
    right: 20px; 
    left: 50%;
    z-index: 1;
}
.imgs-1{
    position:  relative;
    margin: 10px;
    width: 250px;
    height: 280px;
    left: 35%;
    top:-17px
}
.imgs-2{
    position:  absolute;
    margin: 10px;
    width: 400px;
    height: 400px;
    left: -20%;
    top:85px;
    object-fit: cover;
}
.imgs-3{
    position:  absolute;
    margin: 10px;
    width: 370px;
    height: 330px;
    left: 15%;
    top:325px
}
/* 2 */
.section2{
    margin-top: 0px;
    border: 5px solid   #43E5E9;
    min-height: 15pc;
    width: 97.5%;
    padding: 10px;
    color: #43E5E9;
}
.section2__title{
    width: 250px;/*250*/
    height: 65px;/*65*/
    margin: auto;
    margin-top: 50px;
    margin-bottom: 170px;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}
.section2__slide{
    margin-top: 20px;
    margin: auto;
    background:  #43E5E9;
    width: 400px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}
.slide__img{
    width: 150%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
    background:  #43e6e900;
}
.icons2{
 background-color: #43e6e900;
}
.cuatro{
    position: absolute;
    top: 10px;
    left: 26%;
    transform: rotate(180deg) ;
    animation: astro 10s linear infinite;
}
@keyframes carrito {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.3);
    }
    50%{
    transform: rotate(360deg);
    }
}
.cinco{
    position: absolute;
    top: 700px;
    left: 85%;
     animation: carrito 5s linear infinite; 
}
@keyframes  astro {
    0%{
        transform: translate(0px, 0px);
    }
    30%{
        transform: translate(550%, 0px);
    }
    61%{
        transform: translate(560%, 150%);
    }
    90%{
        transform: translate(0px , 150%) ;
    }
    100%{
        transform: translate(0px ,0px);
    }
}
.seis{
    position: absolute;
    top: 350px;
    left: 40px;
    animation: carrito 13s linear infinite; 

}
.siete{
    position: absolute;
    top: 60px;
    left: 85%;
    animation:  catorceM 2s linear infinite;
}
.ochob{
    position: absolute;
    top: 245px;
    left: 28%;
    z-index: 0;
}
.ochod{
    position: absolute;
    top: 840px;
    left: 70%;
    animation:eraAnimacion 8s linear infinite;
}
.ochoe{
    position: absolute;
    top: 750px;
    left: 10%;
    animation: tresS 8s linear infinite;
}
/* 3 */
/* layOut */
.section3{
    border: 5px solid #43E5E9;
    color: #43E5E9;
    width: 97.5%;
    min-height: 50pc;
    padding: 10px;
    margin: 0;
}
.section3__div-title{
    font-size: 40px;
    margin: auto;
    background-color: #0975a700;
    width: 500px;
    height: 100px;
    text-align: center;
    padding: 20px;
    top: 20px;
    bottom: 20px;
    position: relative;
    top: 0px;
    font-weight: 570;
}
.section3__div-p{
    font-size: 20px;
    width: 650px;
    height: 35px;
    padding:5px;
    margin: auto;
    position: relative;

}
.section3__div-knows{
    display: grid;
    gap: 10px;
    width: 97%;
    background-color: #43e6e900;
    height: 400px;
    padding: 20px;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "a a c d d"
    "b b c e e"
    "f f h g g"
    ;
}
.__div-knows{
    background-color: rgba(6, 238, 255, 0);
    border: 3px solid ;
    border-radius: 10px;
    padding: 25px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    font-size:25px ;
}
.__div-knows:nth-child(1){
    background-color: #ff480000;
    grid-area: a;
    transition: 2s;
}
.__div-knows:nth-child(1):hover{
    background-color: #ff4800;
    cursor: crosshair;
} 
.__div-knows:nth-child(2){
    grid-area: b;
    background-color:  #0e75db00;
    transition: 2s;
}
.__div-knows:nth-child(2):hover{
    background-color:  #0e74db; 
    cursor: crosshair;
}
.__div-knows:nth-child(3){
    background-color: #43e6e900;
    height: 230px;
    grid-area: c;
    transition: 2s;
}
.__div-knows:nth-child(3):hover{
    background-color: rgb(255, 255, 5);
    cursor: crosshair;
}
.__div-knows:nth-child(4){
    background-color: #43b7e900;
    grid-area: d;
    transition: 2s;
}
.__div-knows:nth-child(4):hover{
    background-color: #180f1f;
    cursor: crosshair;
}
.__div-knows:nth-child(5){
    background-color: #43e96f00;
    grid-area: e;
    transition: 2s;
}
.__div-knows:nth-child(5):hover{
    cursor: crosshair;
    background-color: orange;
}
.__div-knows:nth-child(6){
    background-color: #cc17e000;
    grid-area: f;
    transition: 2s;
}
.__div-knows:nth-child(6):hover{
    background-color: rgb(255, 213, 0);
    cursor: crosshair;
}
.__div-knows:nth-child(7){
    background-color: #1dfff000;
    grid-area: g;
    transition: 2s;
}
.__div-knows:nth-child(7):hover{
    background-color: #0975a7;
    cursor: crosshair;
}
.__div-knows:nth-child(8){
    background-color: #1dfff000;
    grid-area: h;
    transition: 2s;
}
.__div-knows:nth-child(8):hover{
    background-color:palevioletred ;
    cursor: crosshair;
}
/*  */
.sss{
    opacity: 100%;
    width: 140px;
    height: 140px;
}
.html{
    position: relative;
    top: 10px; 
    opacity: 0;
    transition: 2s;
    margin: auto;
}
.css{
    position: relative;
    left: 300px;
    top: -65px; 
    opacity: 0;
    transition: 2s;
}
.js{
    position: relative;
    left: 210px;
    opacity: 0;
    transition: 2s;
}
.git{
    position: relative;
    top: -190px;
    opacity: 0;
    transition: 2s;
    margin: auto;
}
.gitb{
    position: relative;
    top: -73px;
    right: 145px;
    opacity: 0;
    transition: 2s;
   
}
.json{
    position: relative;
    top: -75px; 
    opacity: 0;
    transition: 2s;
    margin: auto;
    transform: scale(3);
}
.ajax{
    position: relative;
    top: -100px; 
    left: 0px;
    opacity: 40;
    transition: 2s;
    margin: auto;
  transform: scale(0);
}
#sasa{
  transform: scale(0.4);
}
.sass{
    position: relative;
    top: -138px; 
    left: -148px;
    opacity: 0;
    transition: 2s;
    margin: auto;
    transform: rotate(45deg);
}
.__div-knows:nth-child(1):hover .html{
    opacity: 100%;
    top: -65px; 
    cursor: crosshair;
    animation: uno 3s linear infinite;
}
.__div-knows:nth-child(2):hover .css{
    left: 140px;
    cursor: crosshair;
    opacity: 100%;
    animation: dos 3s linear infinite;
}
.__div-knows:nth-child(3):hover .js{
    left: 0px;
    opacity:100%;
    cursor: crosshair;
    animation: tres 3s linear infinite;
}
.__div-knows:nth-child(4):hover .git{
    top: -75px;
    opacity: 100%;
    cursor: crosshair;
    animation: cuatro 3s linear infinite;
}
.__div-knows:nth-child(5):hover .gitb{
    right: -135px;
    cursor: crosshair;
    opacity: 100%;
    animation: cinco 3s linear infinite;
}
.__div-knows:nth-child(6):hover .json{
    cursor: crosshair;
    opacity: 100%;
    transform: scale(0.9);
}
.__div-knows:nth-child(7):hover .ajax{
    opacity: 100%;
    cursor: crosshair;
    transform: scale(0.5);
    animation: siete 3s linear infinite;
}
.__div-knows:nth-child(8):hover .sass{
    cursor: crosshair;
    opacity: 100%;
    transform: rotate(0deg);
}
@keyframes uno {
    0%{
        transform: translate(0px, 5px );
    }50%{
        transform: translate(0px, -5px);
    }100%{
        transform: translate(0px, 5px);
    }
}
@keyframes dos {
    0%{
        transform: translate(5px, 5px );
    }50%{
        transform: translate(-5px, -5px);
    }100%{
        transform: translate(5px, 5px);
    }
}
@keyframes tres {
    0%{
        transform: translate(5px, 0px );
    }50%{
        transform: translate(-5px, 0px);
    }100%{
        transform: translate(5px, 0px);
    }
}
@keyframes cuatro {
    0%{
        transform: translate(-5px, 5px );
    }50%{
        transform: translate(5px, -5px);
    }100%{
        transform: translate(-5px, 5px);
    }
}
@keyframes cinco {
    0%{
        transform: translate(-5px, 5px );
    }50%{
        transform: translate(5px, -5px);
    }100%{
        transform: translate(-5px, 5px);
    }
}
/*  */
.__div-willknows{
    width: 200px;
    height: 30px;
    padding: 15px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    background-color: #43e6e91f;
    margin-top: 20px;
    margin-bottom: 20px;
}
._div-willknows{
    width: 85%;
    background-color: #1dfff021;
    margin: auto;
    border-radius: 2px;
    font: 600;
    padding: 10px;
    font-size: 15px;
    display: flex ;
    justify-content: space-around;
}
.willknows-{
    width: 30%;
    height: 30px;
    padding: 10px;
    background-color:#43e6e91f;
    text-align: center;
    border-radius: 2px;
    position: relative;
    transition: 1s;
}
.willknows-:hover{
    background-color: #43E5E9;
    color:  rgb(7, 85, 133);
    font-size: 25px;
}
.p-ddiv{
    width: 90%;
    height: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: underline;
    display: inline-flex;
}
.nueve{
    background-color: #0975a700;
    width: 100px;
    height: 100px;
    animation: nueveM 35s linear infinite;
    position: relative;
    bottom: -15px;
    left:-10px ;
}
.diez{
    background-color: #0975a700;
    width: 100px;
    height: 100px;
    animation: diezM 30s linear infinite;
    position: relative;
    left: 50%;
    bottom: -15px;
}
.once{
    background-color: #0975a700;
    width: 100px;
    height: 100px;
    animation: onceM 35s linear infinite;
    position: relative;
    top: -820px;
    left: -226px;
}
@keyframes nueveM {
    0%{ 
        transform: translate(0px, -0px);
    }
    20%{
        transform: translate(350px, -890px);
    }
    40%{
        transform: translate(715px, 0px);  
    }
    60%{
         transform: translate(1150px, -725px); 
    }
    80%{
         transform: translate(920px, -890px); 
    }
    100%{
         transform: translate(0px, -0px); 
    }
}
@keyframes diezM {
    0%{ 
        transform: translate(0px, 0px);
    }
    25%{
        transform: translate(-760px, -300px);
    }
    50%{
        transform: translate(-185px, -890px);  
    }
    75%{
           transform: translate(430px, -550px);    
    }
    100%{
         transform: translate(0px, 0px);    
    }
    /* 100%{
        /* transform: translate(-20px, 0px); */
    

}
@keyframes onceM {
    0%{ 
        transform: translate(1px, -48px);
    }50%{
           transform: translate(1145px, 835px);    
    }75%{
         transform: translate(1144px, -48px);    
    }100%{
        transform: translate(0px, -48px);    
    }
}
/* 4 */
.section4{
    border: 5px solid #43E5E9;
    color: #43E5E9;
    width: 97.5%;
    min-height: 80pc;
    padding: 10px;
    margin: 0;
}
.sectio4__about{
    position: relative;
    font-size: 50px;
    display: block;
    left: 38%;
    margin-top: 20px;
}
._about--photo{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius:50%;
    overflow: hidden;
}
.foto{
 text-decoration: none;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
a:hover{
    color: #2eaeb0;
}
._about--paragraph{
    width: 400px;
    position: relative;
    left: 40%;
    top: -180px;
    background-color: #2bad0300;
    font-size: 20px;
}
.aaa{
    color: #43E5E9;
}
.icons4{
    position: relative;
    width: 85px;
    height: 85px;
    background: #0975a700;
    transform: rotate(-20deg);
    left: 80%;
    top: -700px;
}
.doce{
    width: 120px;
    height: 120px;
}
.icons5{
    position:relative;
    width: 185px;
    height: 185px;
    transform: rotate(20deg);
    background: #0975a700;
    top: -190px;
    left: 100px;
}
.trece{
    width: 120px;
    height: 120px;
}
/* 5 */
#footer{
    border: 5px solid #43E5E9;
    color:#34b7d1ea;
    width: 97.5%;
    min-height: 25pc;
    padding: 10px;
    margin: 0;
    background-color: rgb(7, 85, 133);
}
.__bio-p{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}
.footer__contact{
    width: 275px;
    height: 75px;
    padding: 10px;
    background-color: #2e9ab0b7;
    display:inline;
    margin: auto;
    position: relative;
    left: 29%;
    top: 25px;
}
.__link{
    position: relative;
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition: 0.3s;
}
.__link:hover{
    transform: scale(1.3);
}
.footer__gmail{
    position: relative;
    left: 45px;
    top: 100px;
}
.icons6{
    position: relative;
    bottom: -80px;
}
.catorce{
    animation: quinceM 2s linear infinite;
}
.quince{
    animation: quinceM 2s linear infinite;
}
.miniSection > a > img{
    width: 90px;
    height: 90px;
    border-radius: 20px;
    position: relative;
    left: 70%;
    top: 10px;
    box-shadow:3px 4px 5px #0975a7;
    transition: 0.5s;
}
.miniSection > a > img:hover{
    transform: scale(1.2);
}
@keyframes catorceM {
    0%{
        transform: translate(0px, 4px );
    }50%{
        transform: translate(0px, -4px );
    }100%{
        transform: translate(0px, 4px );
    }
}
@keyframes quinceM {
    0%{
        transform: translate(0px, 4px );
    }50%{
        transform: translate(0px, -4px );
    }100%{
        transform: translate(0px, 4px );
    }
}
@media screen and (max-width: 555px) {
    *{
        max-width: 100vh;
    }  
    body{
        background-color: #000000;
        min-width: 100vh;
        overflow-x: hidden;
    }
    .down, .up{
        display: none;
    }
    .section1{
        border: 5px solid #43E5E9;
        color: #43E5E9;
        width: 100%;
        min-height: 150pc;
        padding: 20px;
        margin: 0;
    }.section__nav{
        background-color: #43E5E9;
        width: 95%;
        padding: 20px;
        height: 50px;
        z-index: 1;
        position: relative;
    }
    .nav__name{
        font-size: 30px;
        font-weight: 600;
        color: rgb(8, 103, 161);
    }
    .icons1, .icons11{
        animation: none;
    }
    .icons11>.ico{
        width: 150px;
        height: 150px;
    }
    .uno{
        left: 555px;
        top: 900px;
    }
    .dos{
        left: 20vw;
        top: 500px;
    }
    .tres{
        position: relative;
        left: 170%;

    }
    .separacion{
        left: 65%;
        top: 10px;
        height: 60px;
    }
    #active{
        width: 250px;
        height: 120px;
        font-size: 75px;
        left:120%;
        top: 777px;
        padding: 20px;
    }
    .content > a {
        position: relative;
        color: rgb(7, 85, 133);
        font-size: 35px;
        top: -55px;
        left:11vh;
        z-index: 3;
    }
    .content > .nav--div{
        width: 400px;
        z-index: 1;
        position: absolute;
        left: 300px;
        height: 320px;
    }
    .content, .nav__div, ul{
        padding: 0%;
        margin: 0;
        text-align: center;
        position: relative;
        left: 110px;
        z-index: 3;
        top: 10px;
        width: 90%;
        height: 350px;
        z-index: 3;
    }
    li{
        list-style: none;
        background-color: rgb(7, 85, 133);
        margin-top: 5px;
        height: 50px;
        width: 98%;
        padding: 5px;
        margin-left: -90px; 
        border-radius: 10px;
        font-size: 35px;
        text-align: center;
        padding-bottom: 15px;
        z-index: 3;
    }
    h2{
        text-shadow: 3px 5px 5px rgb(66, 129, 211);
        font-size: 100px;
        margin: 0;
        position: relative;
        left: -20px;
        z-index: 0;
    } 
    .d3{
        display: none;
    }
    .div--content-p1{
        font-size: 60px;
        margin-left: -20px;
    }
    .div--content-p2, p{
        margin-left: -20px;
        font-size: 35px;
    }
    .div--content-div{
        width: 235px;
        font-size: 25px;
        height: 55px;
        text-align: center;
    }
    .seccion1__div--conent{
        width: 480px;
        height: 600px;
        background-color: rgba(230, 238, 245, 0);
    }
    .comment{
        position: relative;
        top: 1000px;
        left: -425px;
        background-color: rgba(230, 238, 245, 0);
        width: 350px;
        height: 250px;
    }
    .imgs-1{
        width: 320px;
        height: 320px;
        border-radius: 50%;
        left: 70vw;
        top: -200px;
        box-shadow: 1px 1px 5px white;
    }
    .imgs-2{
        width: 350px;
        height: 350px;
        border-radius: 50%;
        left: -50vw;
        top: 385px;
        box-shadow: 1px 1px 5px white;
    }
    .imgs-3{
        width: 420px;
        height: 420px;
        border-radius: 50%;
        left: 50vw;
        top: 650px;
        box-shadow: 1px 1px 5px white;
    }
    /*  */
    .section2{
        width: 100%;
        padding: 20px;
        min-height: 80pc;
    }
    .section2__title{
        font-size: 70px;
        margin-top: 10px;
    }
    .section2__slide{
        width: 70%;
        height: 1050px;
        position: absolute;
        top: 190px;
        left: 30vw;
        transform: scale(1.);
        border-radius: 15px;
    }
    .slide__img{
        width: 650px;
        height:1050px;
        left: 0;
        margin-left: 15px;
        position: relative;
        border-radius: 15px;
        background:  #00817405;
    }
    .icons2 > .ico{
        width: 90px;
        height: 90px;
    }
    .seis{
        position: absolute;
        top: 300px;
        left: 5vh;
        animation: carrito 13s linear infinite; 
    
    }
    .siete{
        position: absolute;
        top: 60px;
        left: 80vh;
        animation:  catorceM 2s linear infinite;
    }
    .ochob{
        position: absolute;
        top: 100px;
        left: 5vh;
        z-index: 0;
    }
    .ochod{
        position: absolute;
        top: 1200px;
        left: 85vh;
        animation:eraAnimacion 8s linear infinite;
    }
    .ochoe{
        position: absolute;
        top: 850px;
        left: 5vh;
        animation: tresS 8s linear infinite;
    }
    /*  */
    .section3{
        border: 5px solid #43E5E9;
        color: #43E5E9;
        width: 100%;
        min-height: 120pc;
        padding: 20px;
        margin: 0;
    }
    .section3__div-title{
        font-size: 65px;
        margin: auto;
        background-color: #0975a700;
        width: 50%;
        left: -30px;
        height: 100px;
        text-align: center;
    }
    .section3__div-p{
        font-size: 40px;
        width: 650px;
        height: 35px;
        top: -40px;
        padding:5px;
        margin: auto;
        position: relative;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .nueve{
        width: 125px;
        height: 125px;
        background-color: #0e75db00;
        animation: okey 4s linear infinite;
        margin-left: 60vh; 
    }
    .diez{
        width: 175px;
        height: 175px;
        animation: okey 4s linear infinite;
    }
    .once{
        width: 125px;
        height: 125px;
        animation: okey 4s linear infinite;
        background-color: #0e75db00;
        margin-left: -80vh;
    }
    .section3__div-knows{
        background-color: #7a4e4ea0;
        width: 90%;
        display: flex;
        margin: auto;
        justify-content: space-around;
        flex-direction: column;
        height: 1300px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .sss{
        width: 80px;
        height: 80px;
        margin: 10px;
        animation: none;
    }
    @keyframes okey {
        from{
            transform: scale(1);
        }
    }
    .section3__div-p{
        width: 90%;
        text-align: center;
        font-size: 40px;
    }
    .__div-knows:nth-child(3){
        background-color: #43e6e900;
        height: 70px;  
        transition: 2s;
    }
    .__div-knows:nth-child(3):hover{
        background-color: rgb(255, 255, 5);
    }
    .__div-knows:nth-child(4){
        background-color: #43b7e900;
        transition: 2s;
    }
    .__div-knows:nth-child(4):hover{
        background-color: #180f1f;
    }
    .__div-knows:nth-child(5){
        background-color: #43e96f00;
        transition: 2s;
    }
    .__div-knows:nth-child(5):hover{
        background-color: orange;
    }
    .__div-knows:nth-child(6){
        background-color: #cc17e000;        
        transition: 2s;
    }
    .__div-knows:nth-child(6):hover{
        background-color: rgb(255, 213, 0);
    }
    .__div-knows:nth-child(7){
        background-color: #1dfff000;
        transition: 2s;
    }
    .__div-knows:nth-child(7):hover{
        background-color: #0975a7;
    }
    .__div-knows:nth-child(8){
        background-color: #1dfff000;
        transition: 2s;
    }
    .__div-knows:nth-child(8):hover{
        background-color:palevioletred ;
    }
    .__div-knows{
        height: 70px;
    }
    .willknows-{
        height: 40%;
        padding: 15px;
        margin-top: 20px;
    }
    .__div-willknows{
        width: 45vh;
        height: 50px;
        margin: auto;
        font-size: 50px;
        text-align: center;
        padding: 20px;
    }
    ._div-willknows{
        width: 95%;
        background-color: #1dfff021;
        margin: auto;
        border-radius: 2px;
        font: 600;
        margin-top: 20px;
        padding: 15px;
        font-size: 15px;
        display: flex ;
        justify-content: space-around;
    }
    /*  
    .sss{
        opacity: 100%;
        width: 140px;
        height: 140px;
    }
    .html{
        position: relative;
        top: 10px; 
        opacity: 0;
        transition: 2s;
        margin: auto;
    }
    .css{
        position: relative;
        left: 300px;
        top: -65px; 
        opacity: 0;
        transition: 2s;
    }
    .js{
        position: relative;
        left: 250px;
        opacity: 0;
        transition: 2s;
        background-color: #2eaeb0;
    }
    .git{
        position: relative;
        top: -190px;
        opacity: 0;
        transition: 2s;
        margin: auto;
    }
    .gitb{
        position: relative;
        top: -73px;
        right: 145px;
        opacity: 0;
        transition: 2s;
    }
    .json{
        position: relative;
        top: -75px; 
        opacity: 0;
        transition: 2s;
        margin: auto;
        transform: scale(3);
    }
    .ajax{
        position: relative;
        top: -100px; 
        left: 0px;
        opacity: 40;
        transition: 2s;
        margin: auto;
      transform: scale(0);
    }
    #sasa{
      transform: scale(0.4);
    }
    .sass{
        position: relative;
        top: -138px; 
        left: -148px;
        opacity: 0;
        transition: 2s;
        margin: auto;
        transform: rotate(45deg);
    }
      
    
        color: rgb(131, 49, 49);
    background-color: #0975a7;*/
    .__div-knows:nth-child(1):hover .html{
        opacity: 100%;
        top: -60px; 
        animation: none;
        transform: scale(1);
    }
    .__div-knows:nth-child(2):hover .css{
        left: 140px;
        opacity: 100%;
        top: -80px; 
        animation:none;
        transform: scale(1);
    }
    .__div-knows:nth-child(3):hover .js{
        left: -30px;
        opacity:100%;
        animation:none;
        /* transform: scale(0.5); */
    }
    .__div-knows:nth-child(4):hover .git{
        top: -70px;
        opacity: 100%;
        animation:none;
        /* transform: scale(0.5); */
    }
    .__div-knows:nth-child(5):hover .gitb{
        opacity: 100%;
        animation: none;
        left: 100px;
        transform: scale(1);
    }
    .__div-knows:nth-child(6):hover .json{
        opacity: 100%;
        transform: scale(1);
    }
    .__div-knows:nth-child(7):hover .ajax{
        opacity: 100%;
        transform: scale(0.55);
        animation:none;
    }
    .__div-knows:nth-child(8):hover .sass{
        opacity: 100%;
        top: -135px; 
        left: 0px;
        transform:rotate(360deg);
    }
    /*  */
    .html{
        position: relative;
        top: 100px; 
        left: 35%;
        opacity: 100%;
        transition: 2s;
        margin: auto;
    }
    .css{
        position: relative;
        left: 300px;
        top: -210px; 
        opacity: 100%;
        transition: 2s;
    }
    .js{
        position: relative;
        left: 575px;
        opacity: 0%;
        transition: 2s;
        top: -70px;
        background-color: transparent;
    }
    .git{
        position: relative;
        top: -190px;
        left: 80px;
        opacity: 100%;
        transition: 2s;
        margin: auto;
    }
    .gitb{
        position: relative;
        top: -80px;
        transform: scale(0.5);
        right: 35px;
        opacity: 0%;
        transition: 1s;
    }
    .json{
        position: relative;
        top: -70px;
        right: 120px; 
        opacity: 0%;
        transition: 1s;
        margin: auto;
        transform: scale(0.5);
    }
    .ajax{
        position: relative;
        top: -80px; 
        left: 100px;
        opacity: 0%;
        transition: 2s;
        margin: auto;
        transform: scale(0.25);
    }
    #sasa{
      transform: scale(0.4);
    }
    .sass{
        position: relative;
        top: -110px; 
        left: -160px;
        opacity: 0%;
        transition: 1s;
        margin: auto;
        transform: rotate(-360deg);
    }
    .p-ddiv{
        width: 90%;
        height: 75px;
        margin-left:30px;
        text-align: center;
        font-size: 35px;
    }
    /*  */
    .section4{
    overflow: hidden;
        width: 100%;
        padding: 20px;
    }
    .sectio4__about{
        font-size: 40px;
        left: 20px;
    }
    ._about--photo, .foto{
         width: 150px;
        height: 165px;
    }
    ._about--paragraph{
        width: 323px;
  position: relative;
           top: 40px;
          left: 20px;
    }
    .icons5{
        position: relative;
                 top: 50px;
    }

    /*  */
    #footer{
    overflow: hidden;
        width: 100vh;
       padding: 20px;  
       height: 600px; 
    }
    .__bio-p{
        font-size:20px ;
    }
    .icons6> .ico{
        position: relative;
        top: 50px;
        width: 55px;
        height: 55px;
        background-color: #ac242400;
    }
    .footer__contact{
        width: 275px;
        height: 75px;
        left: 3%;
        font-size: 10px;
    }
    .__link{
        width: 50px;
        height: 50px;
    }
    .footer__gmail{
        position:relative;
        top: 30px;
    }
    .miniSection{
        width: 250px;
        height: 150px;
        position: relative;
        left: 50%;
        top: 20px;
    }
    .miniSection > a > img{
        width: 70px;
        height: 70px;
        border-radius: 20px;
        left: 0%;
        top: 50px;
    }
}
