body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    min-height: 7000px;
    overflow-x: hidden; 
    min-width: 100vh;
    font-family: 'DotGothic16', sans-serif;
} 
body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background:#43E5E9;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color:  #43E5E9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid  rgb(7, 85, 133);  /* creates padding around scroll thumb */
}
/* 1 */
.down{
    position: fixed;
    top: 560px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid rgb(14, 105, 162);
    border-radius: 50%;
    opacity: 50%;
    z-index: 4;
}
.down:hover{
    opacity: 100%;
}
.up{
    z-index: 4;
    position: fixed;
    top: 560px;
    left: 95%;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid rgb(14, 105, 162);
    border-radius: 50%;
    opacity: 50%;
}
.up:hover{
    opacity: 100%;
}

/*  */
.section1{
    border: 5px solid #43E5E9;
    color: #43E5E9;
    width: 97.5%;
    min-height: 130pc;
    padding: 10px;
    margin: 0;
}
.icons1{
    position: absolute;
    width: 375px;
    height: 330px;
    background-color:#61707100 ;
    padding:15px ;
    animation: peraAnimacion 120s linear infinite;
    z-index: 3;

}
.icons11{
    position: absolute;
    width: 270px;
    height: 225px;
    background-color:#35949700 ;
    padding:5px ;
    animation: eraAnimacion 5s  linear infinite;
    z-index: 3;

}
@keyframes peraAnimacion {
    0%{
        transform: translate(0px, 0px);
    }

    25%{
        transform: translate(800px, 0px)
    }

    50%{
        transform: translate(800px, 1280px);
    }

    75%{
        transform: translate(0px, 1280px);
    }

    100%{
        transform: translate(0px, 0px); 
    }
    
}
@keyframes eraAnimacion {
    0%{
        transform: scale(1);
    } 
    50%{
        transform: scale(1.2); 
    }
    100%{
        transform: scale(1); 
    }
}
.uno{
    position: relative;
    top: 180px;
    animation: unoO 8s linear infinite;
    z-index: 1;
}
@keyframes unoO {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}  
.dos{
    position: relative;
    top: 200px;
    left: 140px;
    animation: dosS 6s linear infinite;
    z-index: 1;
}
@keyframes dosS {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(-360deg);
    }
}  
.tres{
    animation:tresS 17s linear infinite;
    z-index: 1;
}
@keyframes tresS {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}  
.ico{
    width: 75px;
    height: 75px;
}
a{
    color: white;
    text-decoration: none;
}
.section__nav{
    background-color: #43E5E9;
    width: 96.3%;
    padding: 25px;
}
.nav__name{
    font-size: 25px;
    font-weight: 600;
    color: rgb(7, 85, 133);
}
.separacion{
    position: absolute;
    left: 65%;
    width: 2px;
    background-color:  #1e3031;
    height: 50px;
    top: 25px;
}
.content{
    position: absolute;
    left: 66%;
    top: 35px;
}
.content > a {
    color: rgb(7, 85, 133);
    font-size: 20px;
}
.content .nav--div{
    display: none;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(30, 62, 99, 0.603);
    box-shadow: 5px 5px 10px rgb(7, 85, 133);
    position: absolute;
    width: 250px;
}
.content:hover .nav--div{
    display: block;
}
.content .nav__div ul{
    padding: 0%;
    margin: 0;
    text-align: center;
}
li{
    list-style: none;
    background-color: rgb(7, 85, 133);
    margin-top: 5px;
    height: 25px;
    width: 90%;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
}
li:hover{
    background-color: #43E5E9;
}
.nav__form{
    position: absolute;
    left: 75%;
    top: 36px;
    font-size: 20px;
    color:rgb(7, 85, 133);
    font-weight: 590;
}
.nav__cv{
    position: absolute;
    left: 90%;
    top: 35px;
    font-size: 25px;
    color:rgb(7, 85, 133);
}
h2{
    text-shadow: 3px 5px 5px rgb(66, 129, 211);
    font-size: 100px;
    margin: 0;
} 
.section1__div{
    padding: 10px;
    margin: 10px;
    top: 20px;
    background: cover;
    display: inline-flex;
    font-size: 25px;
    
}
#active{
    width: 175px;
    height: 100px;
    background-color: rgba(26, 85, 137, 0.692);
    position: absolute;
    left: 80%;
    top: 250px;
    border:  5px solid rgb(7, 85, 133);
    font-size: 50px;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    /* color: rgb(3, 196, 255); */
}
#active:active{
    color: rgb(7, 85, 133);
    background-color: #43E5E9;
}
.seccion1__div--conent{
    border-radius: 10px;
    width: 750px;
    height: 600px;
    background-color: rgba(230, 238, 245, 0);
    margin: 0;
}
.div--content-p1{
    font-size: 50px;
    text-decoration: underline;
}
.div--content-p2{
  position: relative;
  text-shadow: 0px 0px 5px;
}
.div--content-div{
    position: relative;
    width: 180px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(134, 164, 207);
    font-size: 20px;
    box-shadow: 2px 5px 5px rgb(98, 152, 233) ;
    top: 150px;
}
.comment{
    position: relative;
    top: 950px;
    left: -550px;
}
.div--content-imgs{
    width: 650px;
    height: 700px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    top: 1200px;
    right: 20px; 
    left: 50%;
    z-index: 1;
}
.imgs-1{
    position:  relative;
    margin: 10px;
    width: 250px;
    height: 280px;
    left: 35%;
    top:-17px
}
.imgs-2{
    position:  absolute;
    margin: 10px;
    width: 400px;
    height: 400px;
    left: -20%;
    top:85px;
    object-fit: cover;
}
.imgs-3{
    position:  absolute;
    margin: 10px;
    width: 370px;
    height: 330px;
    left: 15%;
    top:325px
}
/* 2 */
.section2{
    margin-top: 0px;
    border: 5px solid   #43E5E9;
    min-height: 15pc;
    width: 97.5%;
    padding: 10px;
    color: #43E5E9;
}
.section2__title{
    width: 250px;/*250*/
    height: 65px;/*65*/
    margin: auto;
    margin-top: 50px;
    margin-bottom: 170px;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    
}
.section2__slide{
    margin-top: 20px;
    margin: auto;
    background:  #43E5E9;
    width: 400px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.slide__img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
    background:  #43e6e900;
}
.icons2{
 background-color: #43e6e900;
}

.line1{
    position: absolute;
    width: 6px;
    height: 500px;
    background-color: #43E5E9;
    top: 230px;
    left: 160px;
} 
.line2{
    position: absolute;
    width: 900px;
    height: 6px;
    background-color: #43E5E9;
    top: 230px;
    left: 160px;
}
.line3{
    position: absolute;
    width: 6px;
    height: 500px;
    background-color: #43E5E9;
    top: 230px;
    left: 1060px;
}


.cuatro{
    position: absolute;
    top: 730px;
    left: 125px;
    transform: rotate(180deg) ;
    animation: astro 10s linear infinite;
}

@keyframes astro {
    0%{
        transform: translate(0px, 0px);
    }
    25%{
        transform: translate(0px, -550px);
       
    }
    50%{
        left: 900px; top: -550px;
        transform: rotate(90deg);
       
    }
    75%{
      left:900px; top: 300px;
      transform: rotate(90deg);

    }
    100%{
        transform: translate(900px, 350px);
     
    }

}

.cinco{
    position: absolute;
    top: 40px;
    left: 30px;
}
.seis{
    position: absolute;
    top: 50px;
    left: 30px;
}
.siete{
    position: absolute;
    top: 60px;
    left: 30px;
}
.ocho{
    position: absolute;
    top: 70px;
    left: 30px;
}
.ochoa{
    position: absolute;
    top: 80px;
    left: 30px;
}
.ochob{
    position: absolute;
    top: 90px;
    left: 30px;
}
.ochoc{
    position: absolute;
    top: 100px;
    left: 30px;
}
.ochod{
    position: absolute;
    top: 120px;
    left: 30px;
}
.ochoe{
    position: absolute;
    top: 130px;
    left: 30px;
}
/* 3 */
/* layOut */
.section3{
    border: 5px solid #43E5E9;
    color: #43E5E9;
    width: 97.5%;
    min-height: 50pc;
    padding: 10px;
    margin: 0;
}
.section3__div-title{
    font-size: 40px;
    margin: auto;
    background-color: #0975a700;
    width: 500px;
    height: 100px;
    text-align: center;
    padding: 20px;
    top: 20px;
    bottom: 20px;
    position: relative;
    top: 0px;
    font-weight: 570;
}
.section3__div-p{
    font-size: 20px;
    width: 650px;
    height: 35px;
    padding:5px;
    margin: auto;
    position: relative;

}
.section3__div-knows{
    display: grid;
    gap: 10px;
    width: 97%;
    background-color: #43e6e91f;
    height: 400px;
    padding: 20px;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "a a c d d"
    "b b c e e"
    "f f h g g"
    ;
}
.__div-knows{
    background-color: rgb(6, 238, 255);
    border: 3px solid ;
    border-radius: 10px;
    padding: 25px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    font-size:25px ;
}
.__div-knows:nth-child(1){
    background-color: #ff480000;
    grid-area: a;
    transition: 2s;
}
.__div-knows:nth-child(1):hover{
    background-color: #ff4800;
} 
.__div-knows:nth-child(2){
    grid-area: b;
    background-color:  #0e75db00;
    transition: 2s;
}
.__div-knows:nth-child(2):hover{
    background-color:  #0e74db;
    
}
.__div-knows:nth-child(3){
    background-color: #43e6e900;
    height: 230px;
    grid-area: c;
    transition: 2s;
}
.__div-knows:nth-child(3):hover{
    background-color: rgb(255, 255, 5);
}
.__div-knows:nth-child(4){
    background-color: #43b7e900;
    grid-area: d;
    transition: 2s;
}
.__div-knows:nth-child(4):hover{
    background-color: #180f1f;
}
.__div-knows:nth-child(5){
    background-color: #43e96f00;
    grid-area: e;
    transition: 2s;
}
.__div-knows:nth-child(5):hover{
    background-color: orange;
}
.__div-knows:nth-child(6){
    background-color: #cc17e000;
    grid-area: f;
    transition: 2s;
}
.__div-knows:nth-child(6):hover{
    background-color: rgb(255, 213, 0);
}
.__div-knows:nth-child(7){
    background-color: #1dfff000;
    grid-area: g;
    transition: 2s;
}
.__div-knows:nth-child(7):hover{
    background-color: #0975a7;
}
.__div-knows:nth-child(8){
    background-color: #1dfff000;
    grid-area: h;
    transition: 2s;
}
.__div-knows:nth-child(8):hover{
    background-color:palevioletred ;
}
/*  */
.sss{
    opacity: 100%;
    width: 140px;
    height: 140px;
}
.html{
    position: relative;
    top: 10px; 
    opacity: 0;
    transition: 2s;
    margin: auto;
}
.css{
    position: relative;
    left: 300px;
    top: -65px; 
    opacity: 0;
    transition: 2s;
}
.js{
    position: relative;
    left: 210px;
    opacity: 0;
    transition: 2s;
}
.git{
    position: relative;
    top: -190px;
    opacity: 0;
    transition: 2s;
    margin: auto;
}
.gitb{
    position: relative;
    top: -73px;
    right: 145px;
    opacity: 0;
    transition: 2s;
   
}
.json{
    position: relative;
    top: -75px; 
    opacity: 0;
    transition: 2s;
    margin: auto;
    transform: scale(3);
}
.ajax{
    position: relative;
    top: -100px; 
    left: 0px;
    opacity: 40;
    transition: 2s;
    margin: auto;
  transform: scale(0);
}
#sasa{
  transform: scale(0.4);
}
.sass{
    position: relative;
    top: -138px; 
    left: -148px;
    opacity: 0;
    transition: 2s;
    margin: auto;
    transform: rotate(45deg);
}
.__div-knows:nth-child(1):hover .html{
    opacity: 100%;
    top: -65px; 
    animation: uno 3s linear infinite;
}
.__div-knows:nth-child(2):hover .css{
    left: 140px;
    opacity: 100%;
    animation: dos 3s linear infinite;
}
.__div-knows:nth-child(3):hover .js{
    left: 0px;
    opacity:100%;
    animation: tres 3s linear infinite;
}
.__div-knows:nth-child(4):hover .git{
    top: -75px;
    opacity: 100%;
    animation: cuatro 3s linear infinite;
}
.__div-knows:nth-child(5):hover .gitb{
    right: -135px;
    opacity: 100%;
    animation: cinco 3s linear infinite;
}
.__div-knows:nth-child(6):hover .json{
    opacity: 100%;
    transform: scale(0.9);
}
.__div-knows:nth-child(7):hover .ajax{
    opacity: 100%;
    transform: scale(0.5);
    animation: siete 3s linear infinite;
}
.__div-knows:nth-child(8):hover .sass{
    opacity: 100%;
    transform: rotate(0deg);
}
@keyframes uno {
    0%{
        transform: translate(0px, 5px );
    }50%{
        transform: translate(0px, -5px);
    }100%{
        transform: translate(0px, 5px);
    }
}
@keyframes dos {
    0%{
        transform: translate(5px, 5px );
    }50%{
        transform: translate(-5px, -5px);
    }100%{
        transform: translate(5px, 5px);
    }
}
@keyframes tres {
    0%{
        transform: translate(5px, 0px );
    }50%{
        transform: translate(-5px, 0px);
    }100%{
        transform: translate(5px, 0px);
    }
}
@keyframes cuatro {
    0%{
        transform: translate(-5px, 5px );
    }50%{
        transform: translate(5px, -5px);
    }100%{
        transform: translate(-5px, 5px);
    }
}
@keyframes cinco {
    0%{
        transform: translate(-5px, 5px );
    }50%{
        transform: translate(5px, -5px);
    }100%{
        transform: translate(-5px, 5px);
    }
}
/*  */
.__div-willknows{
    width: 200px;
    height: 30px;
    padding: 15px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    background-color: #43e6e91f;
    margin-top: 20px;
    margin-bottom: 20px;
}
._div-willknows{
    width: 85%;
    background-color: #1dfff021;
    margin: auto;
    border-radius: 2px;
    font: 600;
    padding: 10px;
    font-size: 15px;
    display: flex ;
    justify-content: space-around;
}
.willknows-{
    width: 30%;
    height: 30px;
    padding: 10px;
    background-color:#43e6e91f;
    text-align: center;
    border-radius: 2px;
    position: relative;
    transition: 1s;
}
.willknows-:hover{
    background-color: #43E5E9;
    color:  rgb(7, 85, 133);
    font-size: 25px;
}
.p-ddiv{
    width: 90%;
    height: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: underline;
}
.nueve{
    background-color: #0975a700;
    width: 100px;
    height: 100px;
    animation: nueveM 35s linear infinite;
    position: relative;
    bottom: -15px;
    left:-10px ;
}
.diez{
    background-color: #0975a700;
    width: 100px;
    height: 100px;
    animation: diezM 30s linear infinite;
    position: relative;
    left: 50%;
    bottom: -15px;
}
.once{
    background-color: #0975a700;
    width: 100px;
    height: 100px;
    animation: onceM 35s linear infinite;
    position: relative;
    top: -820px;
    left: -226px;
}
@keyframes nueveM {
    0%{ 
        transform: translate(0px, -0px);
    }
    20%{
        transform: translate(350px, -890px);
    }
    40%{
        transform: translate(715px, 0px);  
    }
    60%{
         transform: translate(1150px, -725px); 
    }
    80%{
         transform: translate(920px, -890px); 
    }
    100%{
         transform: translate(0px, -0px); 
    }
}
@keyframes diezM {
    0%{ 
        transform: translate(0px, 0px);
    }
    25%{
        transform: translate(-760px, -300px);
    }
    50%{
        transform: translate(-185px, -890px);  
    }
    75%{
           transform: translate(430px, -550px);    
    }
    100%{
         transform: translate(0px, 0px);    
    }
    /* 100%{
        /* transform: translate(-20px, 0px); */
    

}
@keyframes onceM {
    0%{ 
        transform: translate(1px, -48px);
    }50%{
           transform: translate(1145px, 835px);    
    }75%{
         transform: translate(1144px, -48px);    
    }100%{
        transform: translate(0px, -48px);    
    }
}

/* 4 */
.section4{
    border: 5px solid #43E5E9;
    color: #43E5E9;
    width: 97.5%;
    min-height: 120pc;
    padding: 10px;
    margin: 0;
}
.sectio4__about{
    position: relative;
    font-size: 50px;
    display: block;
    left: 38%;
    margin-top: 20px;
}
._about--photo{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius:50%;
    overflow: hidden;
}
.foto{
 text-decoration: none;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
a:hover{
    color: #2eaeb0;
}
._about--paragraph{
    width: 400px;
    position: relative;
    left: 40%;
    top: -180px;
    background-color: #2bad0300;
    font-size: 20px;
}
.aaa{
    color: #43E5E9;
}
.icons4{
    position: relative;
    width: 85px;
    height: 85px;
    background: #0975a700;
    transform: rotate(-20deg);
    left: 80%;
    top: -700px;
}
.doce{
    width: 120px;
    height: 120px;
}
.icons5{
    position:relative;
    width: 185px;
    height: 185px;
    transform: rotate(20deg);
    background: #0975a700;
    top: -190px;
    left: 100px;
}
.trece{
    width: 120px;
    height: 120px;
}
/* 5 */
#footer{
    border: 5px solid #43E5E9;
    color:#34b7d1ea;
    width: 97.5%;
    min-height: 25pc;
    padding: 10px;
    margin: 0;
    background-color: rgb(7, 85, 133);
}
.rect{
    position: relative;
    width: 98%;
    height: 375px;
    margin: auto;
    background-color: rgba(7, 85, 133, 0.379);
}
.__bio-p{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}
.footer__contact{
    width: 275px;
    height: 75px;
    padding: 10px;
    background-color: #2e9ab0b7;
    display:inline;
    margin: auto;
    position: relative;
    left: 29%;
    top: 25px;
    
}
.__link{
    position: relative;
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition: 0.3s;
}
.__link:hover{
    transform: scale(1.3);
}
.footer__gmail{
    position: relative;
    left: 45px;
    top: 100px;
}
.icons6{
    position: relative;
    bottom: -80px;
}
.catorce{
    animation: catorceM 2s linear infinite;
}
.quince{
    animation: quinceM 2s linear infinite;
}
@keyframes catorceM {
    0%{
        transform: translate(0px, 4px );
    }50%{
        transform: translate(0px, -4px );
    }100%{
        transform: translate(0px, 4px );
    }
}
@keyframes quinceM {
    0%{
        transform: translate(0px, 4px );
    }50%{
        transform: translate(0px, -4px );
    }100%{
        transform: translate(0px, 4px );
    }
}
